<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="bisheng-antd"
    />
    <title>{{ themeConfig.sitename }}</title>
  
    {% for cssFile in manifest["css"] %}
    <link rel="stylesheet" type="text/css" href="{{ root }}{{ cssFile }}" />
    {% endfor %}
    <style id="nprogress-style">
      #nprogress {
        display: none;
      }
    </style>
    <link rel="stylesheet/less" type="text/css" href="{{ root }}color.less" />
    <!--[if lte IE 10]>
      <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="react-content">
      {{ content | safe }}
    </div>
  </body>
  {% for jsFile in manifest["js"] %}<script src="{{ root }}{{ jsFile }}"></script>
  {% endfor %}
</html>
